.App {
  width: 100vw;
  height: 100vh;
  background-color: #999999;
}

body {
  margin: 0;
  padding: 0;
}

/* SIDEBAR */
.Sidebar {
  height: 100%;
  width: 200px;
  background: linear-gradient(to left, #28152F, #111835);
  margin-top: -16px;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
  position: sticky;
  top: 2rem;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #111835;
}

.SidebarList #active {
  background-color: #111835;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

/* Header */

.Header {
  height: 6%;
  background: linear-gradient(to left, rgb(255, 255, 255), #111835);
  margin-bottom: 0;
}
